.mainHeader {
  display: grid;
  width: 100%;
 position: fixed;
}
.mainheader.hidden {
  transform: translateY(-100%);
}
.upperheader {
  width: 100%;
  height: 5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #000000;

  
}

.logo {
  font-size: 2rem;
  color: antiquewhite;
  font-weight: bold;
}

.interface {
  position: absolute;
  float: right;
  justify-self: flex-end;
  justify-content: flex-end;
  display: flex;
}
.interface a {
    font-size: 24px;
    padding: 15%;
    color: antiquewhite;
    
}
a:link { text-decoration: none; }

.interface a:hover,
.interface a:active,
.interface a.active {
  color: white;
}

.bottomheader {
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: #242424;
justify-content: center;

}
.bottomheader a:hover,
.bottomheader a:active,
.bottomheader a.active {
  color: white;
}

.bottomheader ul {
align-items: center;
  color: rgb(232, 230, 227);
  display: flex;

  justify-content: center;
 
  padding-left: 0px;

  
}
.bottomheader li  {
  display: inline;
  padding: 10%;
}
.bottomheader li a {
  font-size: 22px;
    color: antiquewhite;
}