.mainHeader {
  display: grid;
  width: 100%;
  position: fixed;
}
.mainheader.hidden {
  transform: translateY(-100%);
}
.upperheader {
  width: 100%;
  height: 5rem;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.logo {
  font-size: 3rem;
  color: antiquewhite;
  font-weight: bold;
}
.logo a:visited {
  color: antiquewhite;
}
.interface {
  position: absolute;
  float: right;
  justify-self: flex-end;
  justify-content: flex-end;
  display: flex;
}
.interface a {
  font-size: 24px;
  padding: 15%;
  color: antiquewhite;
}
.profile-cart-img {
  margin-top: 15px;
  width: 50px;
  height: 50px;
  transition: all 0.5s;
}
.profile-cart-img:hover {
  cursor: pointer;
  transform: translateY(-3px);
  transition: 0.5s ease-in-out;
}

.profile-cart-img:active {
  transform: translateY(0);
}
a:link {
  text-decoration: none;
}

.interface a:hover,
.interface a:active,
.interface a.active {
  color: white;
}

.bottomheader {
  display: flex;
  width: 100%;
  height: 3rem;
  background-color: #1a1a1a;
  justify-content: center;
}
.bottomheader a:hover,
.bottomheader a:active,
.bottomheader a.active {
  color: white;
}

.bottomheader ul {
  align-items: center;
  color: rgb(232, 230, 227);
  display: flex;

  justify-content: center;

  padding-left: 0px;
}
.bottomheader li {
  display: inline;
  padding: 10%;
}
.bottomheader li a {
  font-size: 22px;
  color: antiquewhite;
}

@media screen and (max-width: 700px) {
  .upperheader {
    width: 100%;
    height: 4rem;

    justify-content: flex-start;
    background-color: #000000;
  }
  .bottomheader {
    display: none;
  }
  .logo {
    margin-left: 10px;
    font-size: 2rem;
  }
  .interface {
    display: block;
  }
  .hidden {
    display: none;
  }
  .toggle {
    position: absolute;
    float: right;
    justify-self: flex-end;
    justify-content: flex-end;
    display: flex;
  }
  .toggle-menu {
    margin-right: 20px;
  }
  .toggled-menu {
    width: 100%;
    top: 4rem;
    background-color: #242424;
    position: fixed;
  }
  .toggled-menu ul {
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    color: rgb(232, 230, 227);
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .toggled-menu li {
    font-size: 25px;
    padding: 0;
  }

  .toggled-menu li a {
    font-size: 26px;
    margin-left: 5px;
    margin-right: 5px;
    color: antiquewhite;
  }
  .link-bar {
    border-bottom-style: groove;
    border-color: #242424;
  }
  .link-bar :hover {
    background-color: #161616;
  }
}

.menu-transition-enter {
  opacity: 1;
  transform: translateX(100%);
}

.menu-transition-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 150ms, transform 150ms linear;
}

.menu-transition-exit {
  opacity: 1;
  transform: translateX(0);
}

.menu-transition-exit-active {
  opacity: 1;
  transform: translateX(100%);
  transition: opacity 150ms, transform 150ms linear;
}
